# Ruby
Gemfile.lock
Gemfile.local
pkg
*.gem

# Tests
test/reports
coverage

# rvm/rbenv
.ruby-gemset
.ruby-version

# Editors
tags

# Disks
*.iso

# Locale files
locale/*/*.edit.po
locale/*/*.po.time_stamp
